@import 'tailwindcss';
@source "../views";
@import 'primereact/resources/themes/tailwind-light/theme.css';

#app {
  min-height: 100vh;
  background-image: url('@images/background.svg');
  background-color: rgba(249, 250, 251, 0.85);
}

/* Fade animation */
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.fade-animation {
  animation: fadeInOut 1.5s infinite ease-in-out;
}
